$height: 45rem;
$width: 60vw;

.graph {
    opacity: 1;
    background-color: var(--color-secondary);
    width: $width;
    height: $height;
    padding-left: 1rem;
    border-radius: 2rem;

    > * {
        font-size: 2rem;
        color: var(--color-highlight);
    }

    &-x-axis {
        transform: translateY($height - 3rem);
    }

    &-y-axis {
        transform: translateX(9rem);
    }

    &-line {
        fill: none;
        stroke: var(--color-primary);
        stroke-width: .3rem;
        stroke-linejoin: round;
        stroke-linecap: round;
    }
}