$height: 450px;

.graph {
    opacity: 1;
    background-color: var(--color-secondary);
    width: 60vw;
    height: $height;
    padding-left: 1rem;
    border-radius: 2rem;

    // Main element cannot have transition due to responsive children
    transition: none !important;

    @include screen-medium {
        width: 100%;
    }

    * {
        transition: .2s !important;
        font-size: 2rem;
        color: var(--color-highlight);

        @include screen-medium {
            font-size: 1.5rem;
        }
    }

    &-x-axis {
        transform: translateY($height - 30px);
    }

    &-y-axis {
        transform: translateX(90px);

        @include screen-medium {
            transform: translateX(60px);
        }
    }

    &-line {
        fill: none;
        stroke: var(--color-primary);
        stroke-width: .3rem;
        stroke-linejoin: round;
        stroke-linecap: round;
    }
}