$base-font-size: 2rem;

.user-form {
    font-family: $font-primary;
    font-size: $base-font-size;
    color: var(--color-typo);

    padding: 3rem;
    border-radius: 3rem;
    border: 0;
    background-color: var(--color-secondary);
    box-shadow: 0 .5rem 1.5rem var(--color-secondary);

    display: grid;
    grid-template-columns: [start] 1fr [center] max-content [end];
    grid-column-gap: 1rem;

    &--loading {

    }

    &-errors {
        font-size: $base-font-size * 2;
        font-weight: 100;
        color: var(--color-error);
    }

    &-submit {
        grid-column: center / end;
        display: flex;
        align-items: center;

        font-size: $base-font-size * 1.5;
        color: currentColor;
        background-color: var(--color-primary);

        border: 0;
        border-radius: 20%;
        box-shadow: 0 .1rem 1rem var(--color-primary);
        padding: .2rem 1.5rem;

        &::after { opacity: 0; }

        &--loading {
            opacity: .5;

            &::after {
                content: '';
                margin-left: 1rem;
                width: $base-font-size / 1.2;
                height: $base-font-size / 1.2;
                opacity: 1;

                border: .2rem dotted var(--color-typo);
                border-radius: 50%;
                border-left-color: transparent;
                border-bottom-color: transparent;
                animation: rotate .9s linear infinite;
            }
        }
    }

    &-input {
        grid-column: start / end;
        border: 0;
        border-radius: 1rem;
        outline: 0;
        padding: .5rem 0 .5rem 1rem;
        background-color: var(--color-primary);
        box-shadow: 0 .1rem 1rem var(--color-primary);

        &,
        &::placeholder {
            font-size: $base-font-size;
            color: currentColor;
        }

        &-label {
            grid-column: start / end;
            font-size: $base-font-size;
            padding-left: 1rem;

            visibility: visible;
            margin-top: 0;
            margin-bottom: 0;
            color: var(--color-highlight);
        }

        &:placeholder-shown + &-label {
            visibility: hidden;
            margin-top: -2rem;
            margin-bottom: 2rem;
        }

        &--loading {
            opacity: .5;
        }
    }
}