.loader:after {
    position: relative;
    display: inline-block;
    margin-left: -1.5rem;
    margin-bottom: 0.4rem;
    content: '';

    width: 0.8rem;
    height: 0.8rem;
    border: 1px solid $cyan;
    border-left-color: transparent;
    border-bottom-color: transparent;
    border-radius: 50%;
    box-sizing: border-box;
    animation: rotate 3s ease-in-out infinite;
    transform: rotate(-200deg);
    @keyframes rotate {
        0% { border-width: 1px; }
        25% { border-width: 1px; }
        50% { transform: rotate(115deg); border-width: 1px; }
        75% { border-width: 1px;}
        100% { border-width: 1px;}
    }
}