*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    font-family: inherit;
}

#app-container {
    * {
        transition: all .5s, opacity .5s ease-in;
    }

    &.theme-1 {
        --color-primary: #{$color-yellow};
        --color-secondary: #{$color-pink};
        --color-tertiary: #{$color-red};
    }

    &.theme-2 {
        --color-primary: #{$color-green-light};
        --color-secondary: #{$color-green-dark};
        --color-tertiary: #{$color-white};
    }
}

html {
    font-size: 62.5%;
    font-family: $font-primary;
}

#app-container {
    height: 100%;
    width: 100%;

    box-sizing: border-box;
    background-color: var(--color-primary);
    padding: 3rem;
}

::selection {
    color: var(--color-primary);
    background-color: $color-black;
}