*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    font-family: inherit;
}

html {
    font-size: 62.5%;
    font-family: $font-primary;
}

#theme-container {
    height: 100%;
    box-sizing: border-box;
    overflow: scroll;
    background-color: var(--color-background);
    padding: 3rem;

    * {
        transition: all .5s, opacity .5s ease-in;
    }

    &.theme-1 {
        --color-primary: #{$color-yellow};
        --color-secondary: #{$color-red};
        --color-background: #{$color-blue-light};
        --color-highlight: #{$color-white};
        --color-typo: #{$color-black};
        --color-error: #{$color-yellow};
    }

    &.theme-2 {
        --color-primary: #{$color-blue-dark};
        --color-secondary: #{$color-blue};
        --color-background: #{$color-blue-dark-2};
        --color-highlight: #{$color-white};
        --color-typo: #{$color-cyan};
        --color-error: #{$color-orange};
    }
}

::selection {
    color: var(--color-background);
    background-color: var(--color-primary);
}