$color-black: #090707;
$color-blue: #6272a4;
$color-blue-dark: #44475a;
$color-blue-dark-2: #282a36;
$color-blue-light: #30a9de;
$color-cyan: #8be9fd;
$color-orange: #ff5555;
$color-red: #e53a40;
$color-white: #efffe9;
$color-yellow: #efdc05;

$font-primary: 'Indie Flower', cursive;
