$color-black: #090707;
$color-blue: #6272A4;
$color-blue-dark: #44475a;
$color-blue-dark-2: #282A36;
$color-blue-light: #30A9DE;
$color-cyan: #8BE9FD;
$color-orange: #FF5555;
$color-red: #E53A40;
$color-white: #EFFFE9;
$color-yellow: #EFDC05;

$font-primary: 'Indie Flower', cursive;