$color-blue: #30A9DE;
$color-yellow: #EFDC05;
$color-red: #E53A40;
$color-pink: #EF5285;
$color-black: #090707;
$color-white: #F8F8FF;

$color-green-light: #75D701;
$color-green-dark: #56A902;
$color-green-dark-2: #3B4E32;

$font-primary: 'Indie Flower', cursive;