.home {
    font-size: 3rem;
    color: var(--color-typo);
    padding: 3rem;

    &-form {
        align-items: baseline;
        max-width: 40rem;
    }

    &-input {
        grid-column: start / center;

        @include screen-small {
            grid-column: start / end;
        }
    }

    &-submit {
        font-size: 2rem;
        border-radius: 5px;
        grid-row: 1/2;

        @include screen-small {
            grid-row: 5/6;
        }
    }
}
