@import '~bootstrap/scss/bootstrap';

@import './components/common/colors';

body {
    background-color: $background;
}

#app-root {
    @import './components/common/form';
    @import './components/common/SubmitButton/submit-button';
    @import './components/NavigationHeader/navigation-header';

    font-family: 'Droid Sans Mono', 'monospace', monospace, 'Droid Sans Fallback';
    color: $cyan;

    .error pre {
        color: $red;
        width: 70%;
        margin: 0 auto;
    }
}